/* fortú - stylesheet 2020 */


/* ======
	text
* ======= */

/* GoogleFontQuicksand: regular, bold */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
body {font-family: 'Quicksand', sans-serif;}

.heading1,
.heading2,
.heading3 {
	font-weight: bold;
	color: #1D295D;
	margin-bottom: 24px;
}

p, input, textarea {
	font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (1900 - 360)));
	color: #8D93AD;
	line-height: 164%
}

.heading1 {
	font-size: calc(32px + (64 - 32) * ((100vw - 360px) / (1900 - 360)));
}
.heading2 {
	font-size: calc(32px + (48 - 32) * ((100vw - 360px) / (1900 - 360)));
}
.heading3 {
	font-size: calc(32px + (40 - 32) * ((100vw - 360px) / (1900 - 360)));
}

.negative-colors *{
	color: #fff;
}

.align-center {
	align-items: center;
}

/* Formula para fonte redimensionável
	.className {
		font-size: calc([minimum size]px + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]px) / ([maximum viewport width] - [minimum viewport width])));
	}
*/


/* ======
	header
* ======= */

.menu-language {
	margin: 10px 0;
}

.menu-language a {
	color: #fff;
}

.header .fortu-brand {
	margin-top: 7px;
}

.main-nav li:not(:last-child) a{
    border-right: 2px solid #ffffff;
    padding-right: 1rem; 
}

.join_waiting_list {
	margin: 20px 0;
}

.join_waiting_list .btn {
	font-size: 14px;
}

.join_waiting_list .form-group {
	margin-bottom: 0!important;
}

#JoinWaitingList__email {
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}


#JoinWaitingList__status {
	display: none;
}
.formSubmited #JoinWaitingList__status {
	display: block;
	font-weight: bold;
	font-size: 16px;
	color: #87BE61;
}

.check-icon {margin-top: -6px}



/* ======
	sections
* ======= */

.svg__bg-area {
	z-index: 0;
	width: 100%;
}

.large-padding-section {
	min-height: 50vh;
	padding-top: 15vh;
}

.medium-padding-section {
	padding-top: 64px;
	padding-bottom: 64px;	
}

/* Opening */
.opening--bg-area {
	max-height: 470px; 
	max-width: 490px;
	opacity: 0;
	transform: translateY(-5%);
	-moz-transition: 0.5s ease-in-out; -webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out;
}

.animated .opening--bg-area {
	opacity: 1;
	transform: translateY(0);
}

#flags {
	opacity: 0;
	margin-top: -20px;
	transform: translateY(-10%);
	-moz-transition: 0.5s ease-in-out; -webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out;
}

.animated #flags {
	opacity: 1;
	margin-top: 0;
	transform: translateY(0);
	transition-delay: 1.1s;
}

#confets_right,
#confets_left  {
	opacity: 0;
	transform: translateX(10%);
	-moz-transition: 0.5s ease-in-out; -webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out;
}

.animated #confets_left{
	opacity: 1;
	transition-delay: 1.3s;
	transform: translateX(0);
}

.opening .image-app {
	position: absolute;
	left: 30%;
	top: 15%;
	width: 43.5%;
	z-index: 20;
	opacity: 0;
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}
.animated .image-app {
	top: 9%;
	opacity: 1;
	transition-delay: 0.2s;
}
.opening .image-card {
	position: absolute;
	left: 20%;
	top: 48.5%;
	z-index: 10;
	width: 35%;
	opacity: 0;
	transform: rotate(15deg);
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}

.animated .image-card {
	left: 12%;
	opacity: 1;
	transition-delay: 0.6s;
	transform: rotate(0deg);
}


/* Benefits */

.benefits--bg-area {
	margin-left: -10%;
	opacity: 0;
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
	max-height: 425px;
	max-width: 448px;
}

.animated .benefits--bg-area {
	opacity: 1;
	margin-left: 0;
}

.benefits .image-client {
	position: absolute;
	left: 16%;
	bottom: 10%;
	opacity: 0;
	-moz-transition: 0.7s ease-in-out; -webkit-transition: 0.7s ease-in-out; transition: 0.7s ease-in-out;
	width: 75%;
	max-width: 464px;
}

.animated .image-client {
	left: 20%;
	opacity: 1;
	transition-delay: 0.2s;
}


/* Payment */

.payment--bg-area {
	opacity: 0;
	transform: translateY(-5%);
	-moz-transition: 0.5s ease-in-out; -webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out;
}

.animated .payment--bg-area {
	opacity: 1;
	transform: translateY(0);
}

.svg__calendar {
	position: absolute;
	width: 90%;
	top: 20%;
	left: 5%;
	opacity: 0;
	-moz-transition: 0.7s ease-in-out; -webkit-transition: 0.7s ease-in-out; transition: 0.7s ease-in-out;
}

.animated .svg__calendar {
	top: 17%;
	opacity: 1;
	transition-delay: 0.2s;
}

.money-in-advance {
	position: absolute;
	float: right;
	width: 0%;
	top: 50.5%;
	right: 4.5%;
	overflow: hidden;
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}

.animated .money-in-advance {
	transition-delay: 0.8s;
	width: 100%;
}

.svg__money {
	float: right;
}






.payment .bg-area .image-week {
	position: absolute;
	bottom: 34px;
}

.payment .bg-area .image-week.week-left {
	left: 0;
}

.payment .bg-area .image-week.week-middle {
	/* left: 80%; */
	left: 176px;
	bottom:0;

}

.payment .bg-area .image-week.week-right {
	/* left: 138%; */
	left: 305px;
}


.top-header,
.footer {
	background-color: #1D295D;
}

.app_usp {
	background-color: #87BE61;
}

.app_usp .image-app-running {
	position: absolute;
	left: 30%;
	top: 15%;
	width: 43.5%;
	z-index: 20;
	opacity: 0;
	-moz-transition: 1s ease-in-out; -webkit-transition: 1s ease-in-out; transition: 1s ease-in-out;
}
.animated .image-app-running {
	top: 9%;
	opacity: 1;
	transition-delay: 0.2s;
}


.security {
	background-color: #9B51E0
}


/* ======
	branding
* ======= */

.fortu-brand {
	font-size: calc(20px + (40 - 20) * ((100vw - 360px) / (1900 - 360)));
	font-weight: bold;
	display: inline-block;
}

.header .fortu-brand {
	color: #D7276F;
}


/* Buttons */

.btn {
	border: 0;
	color: #fff;
	box-shadow: none;
	outline: none !important;
	border: 0!important;
	box-shadow: none!important;
	line-height: 26px;
}

.btn:focus,
.btn:hover {
	opacity: 0.85;
}

.btn-primary {
	background-color: #D7276F;
}

.btn-primary:focus,
.btn-primary:hover {
	background-color: #D7276F;
}

.btn-primary:visited,
.btn-primary:active {
	background-color: #B6215E!important;
}

/* forms */

.form-control {
	border: 0;
	border-bottom: 2px solid #1D295D;
	border-radius: 0;
	box-shadow: none;
	outline: none !important;
	box-shadow: none!important;
	color: #8D93AD;
}

.form-control::placeholder,
.form-control:focus {
	color: #8D93AD;
}

.form-control:focus {
	border-color: #1D295D;
	color: #8D93AD;

}



	


/*========
* mobile  
==========/



/* ======
	animation
* ======= */







 * ----------------------------------------
 * animation rotate-in-2-cw
 * ----------------------------------------
 */

/*
 .animate {
	opacity: 0;
  }

  .animating.rotate-in-2-cw {
	-webkit-animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-cw 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes rotate-in-2-cw {
	0% {
	  -webkit-transform: rotate(-45deg);
			  transform: rotate(-45deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	  opacity: 1;
	}
  }
  @keyframes rotate-in-2-cw {
	0% {
	  -webkit-transform: rotate(-45deg);
			  transform: rotate(-45deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	  opacity: 1;
	}
  }
  
*/

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

/*
 .animating.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-top {
	0% {
	  -webkit-transform: translateY(100px);
			  transform: translateY(100px);
			  opacity:0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
			  opacity:1;
	}
  }
  @keyframes slide-top {
	0% {
	  -webkit-transform: translateY(100px);
			  transform: translateY(100px);
			  opacity:0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
			  opacity:1;
	}
  }
  */